body {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: red;
}
h1 {
    background-color: black;
    font-family: Georgia, serif;
    font-size: 60px;
    color: red;
}
a {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: red;
}