<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
        version="5.0">

    <display-name>AutoSchrott</display-name>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>custom_tags</taglib-uri>
            <taglib-location>/WEB_INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DefaultUserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JspSecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CommandFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LastPageFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <display-name>MyListeningApplication</display-name>
    <listener>
        <listener-class>by.spetr.web.controller.listener.ServiceStartListener</listener-class>
    </listener>
    <listener>
        <listener-class>by.spetr.web.controller.listener.DestroyPoolListener</listener-class>
    </listener>


</web-app>